.ui-content a,.ui-content strong,li {
    z-index: 1 !important;
    color: beige;
    font-size: 1.2em;
}
.ui-content {
    max-height: 100% !important;
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: -1;
    backdrop-filter: blur(5px);

}

.ui-collapsible-content {
    max-height: 100% !important;
    background: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
}